	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<h2><a href="#">PCW Finder</a></h2>
				</li>
				<li>
					<a href="#" id="aHome">Home</a>
				</li>

				<%# Counter-Strike: Global Offensive %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Counter-Strike Global Offensive <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aCsGo5v5">5v5 PCW</a></li>
						<li><a href="#" id="aCsGo4v4">4v4 PCW</a></li>
						<li><a href="#" id="aCsGo3v3">3v3 PCW</a></li>
						<li><a href="#" id="aCsGo2v2">2v2 PCW</a></li>
						<li><a href="#" id="aCsGo1v1">1v1</a></li>
						<li><a href="#" id="aCsGoRinger">Ringer</a></li>	
						<li class="dropdown-header">Non-English Channels</li>	
						<li><a href="#" id="aCsGoFrance">CS:GO France</li>
						<li><a href="#" id="aCsGoSweden">CS:GO Sweden</li>	
						<li><a href="#" id="aCsGoFinland">CS:GO Finland</li>	
						<li><a href="#" id="aCsGoNorway">CS:GO Norway</li>	
						<li><a href="#" id="aCsGoSpain">CS:GO Spain</li>	
					</ul>
				</li>

				<%# Counter-Strike: Source %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Counter-Strike Source <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aCsSource6v6">6V6 PCW</a></li>
						<li><a href="#" id="aCsSource5v5">5v5 PCW</a></li>
						<li><a href="#" id="aCsSource4v4">4v4 PCW</a></li>
						<li><a href="#" id="aCsSource3v3">3v3 PCW</a></li>
						<li><a href="#" id="aCsSource2v2">2v2 PCW</a></li>
						<li><a href="#" id="aCsSource1v1">1v1</a></li>
						<li><a href="#" id="aCsSourceRinger">Ringer</a></li>
						<li class="dropdown-header">Non-English Channels</li>	
						<li><a href="#" id="aCsSourceFinland">CS:Source Finland</li>
						<li><a href="#" id="aCsSourceNorway">CS:Source Norway</li>
						<li><a href="#" id="aCsSourceSweden">CS:Source Sweden</li>
					</ul>
				</li>

				<%# Counter-Strike: 1.6 %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Counter-Strike 1.6 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aCs5v5">5v5 PCW</a></li>
						<li><a href="#" id="aCs4v4">4v4 PCW</a></li>
						<li><a href="#" id="aCs3v3">3v3 PCW</a></li>
						<li><a href="#" id="aCs2v2">2v2 PCW</a></li>
						<li><a href="#" id="aCsRinger">Ringer</a></li>
						<li class="dropdown-header">Non-English Channels</li>	
						<li><a href="#" id="aCsGerman">5v5 Germany PCW</li>
					</ul>
				</li>

				<%# Enemy Territory %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Enemy Territory <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aEt6v6">6V6 PCW</a></li>
						<li><a href="#" id="aEt5v5">5v5 PCW</a></li>
						<li><a href="#" id="aEt4v4">4v4 PCW</a></li>
						<li><a href="#" id="aEt3v3">3v3 PCW</a></li>
						<li><a href="#" id="aEt2v2">2v2 PCW</a></li>
					</ul>
				</li>

				<%# Dota 2 %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dota 2 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aDota2">Dota 2 Wars</a></li>
						<li class="dropdown-header">Non-English Channels</li>	
						<li><a href="#" id="aDota2Sweden">Dota 2 Sweden</a></li>
						<li><a href="#" id="aDota2Finland">Dota 2 Finland</a></li>
						<li><a href="#" id="aDota2Norway">Dota 2 Norway</a></li>
					</ul>
				</li>

				<%# Battlefield 3 %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Battlefield 3 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aBattlefield3">BF3 Wars</a></li>
					</ul>
				</li>

				<%# Call of Duty %>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Call of Duty <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown-header">English Channels</li>	
						<li><a href="#" id="aCod2">Call of Duty 2</a></li>
						<li><a href="#" id="aCod4">Call of Duty: Modern Warfare</a></li>
						<li><a href="#" id="aCod8">Call of Duty: Modern Warfare 3</a></li>
					</ul>
				</li>
			</ul>
		</div> <!-- /#sidebar-wrapper -->

		<div id="page-content-wrapper">

			<div class="row" id="divHomeWindow">
				<div class="col-md-12">
					<h2>Welcome to PCW Finder</h2>
					<p>
						To begin, choose your game from the menu on the left and follow the on screen instructions.
					</p>
				</div>
			</div>

			<div class="row" id="divViewerWindow" style="display: none;">
				<div class="col-md-10">
					<h2 id="viewerTitle">Placeholder title</h2>
					<p id="viewerSubTitle"></p>
					<div id="divViewer"></div>
					<div id="divViewerHelp">
						<h3>Use the following format to find games:</h3>
						<div>
							<label id="divHelpExplanation">Placeholder explanation</label>
						</div>
						<div>
							<label id="divHelpExample">Placeholder example</label>
						</div>
					</div>
				</div>
				<div class="col-md-2">
						<%# Reserved for advert space. %>
					&nbsp;
				</div>
			</div>

			<div class="row contact-us">
				<div class="col-md-12">
					Brought to you by ReiGn Gaming.
					Email us at <a href="mailto:admin@reign-gaming.co.uk?Subject=PCW%20Finder" target="_top">admin@reign-gaming.co.uk</a>
				</div>
			</div>

